body{
    background-image: linear-gradient(to left, navy, black);
    color: white;
}
h1{
    text-align: center;
    font-size: 24px;
}
article p {
    text-align: justify;
    font-size: 20px;
}
.html{
    border: 5px solid orange;
    color: white;
}
.css{
    border: 5px solid #214CE5;
    color: white;
}
.js{
    border: 5px solid yellow;
    color: white;
}
h2{
    font-size: 24px;
}
.um{
    text-align: justify;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.dois{
    text-align: justify;
    margin: 10px;
    font-size: 20px;
}
footer{
    text-align: center;
    padding: 10px;
}