body{
    background-image: linear-gradient(to left, navy, black);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
header{
    color: white;
    text-align: center;
    padding: 30px;
    font-family: Arial, sans-serif;
}
header h1{
    margin: 0;
    font-size: 28px;
}
nav{
    margin: 20px 0;
}
nav a {
  background-color: #24292e;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
article p {
    color: white;
    text-align: justify;
    font-size: 20px;
}
.skils{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tag {
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    width: fit-content;
}

.html { 
    background: #f97316; 
    display: inline-block;
}

.css { 
    background: #3b82f6; 
    display: inline-block
}
.js { 
    background: #eab308; color: black;
    display: inline-block; 
}
.git { 
    background: #6b7280; 
    display: inline-block;
}
h2{
    color: white;
    font-size: 24px;
}
.um{
    color: white;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.dois{
    color: white;
    text-align: justify;
    margin: 10px;
    font-size: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}