body{
    background-image: linear-gradient(to left, navy, black);
    color: white;
}
header{

}
h1{
    text-align: center;
    font-size: 24px;
}
article p {
    text-align: justify;
    font-size: 20px;
}
.html { 
    background: #f97316; 
}

.css { 
    background: #3b82f6; 
}
.js { 
    background: #eab308; color: black; 
}
.git { 
    background: #6b7280; 
}
h2{
    font-size: 24px;
}
.um{
    text-align: justify;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.dois{
    text-align: justify;
    margin: 10px;
    font-size: 20px;
}
footer{
    text-align: center;
    padding: 10px;
}