body{
    background-image: linear-gradient(to left, navy, black);
    color: white;
}
header{
    background-image: linear-gradient(45deg, black, darkblue);
    color: white;
    border: 10px solid black;
}
header h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
}
nav{
    border: 10px solid black;
}
nav a:visited {
    color: blue;
}
nav a:hover{
    color: blue;
}
main{
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
article p {
    text-align: justify;
}
section p {
    text-align: left;
    font-weight: bold;
}
aside{
    text-align: justify;
}
footer{
    color: white;
    border-radius: 5px;
}